{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 120px;">
        <h1 class="mb-5">Administration des utilisateurs</h1>
        <div class="divider_title"></div>

        <table id="table" class="table table-hover" style="margin-bottom: 100px;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname/Lastname</th>
                <th class="text-center">Email</th>
                <th class="text-center">Properties</th>
                <th class="text-center">Role</th>
                <th class="text-center">Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}

                <tr>
                    <td>{{ user.id }}</td>
                    <td>
                        <img src="{{ user.avatar | default('/images/avatar_default.png') }}" alt="Avatar de {{ user.fullName }}" class="img-fluid avatar-mini">
                        {{ user.fullName }}
                    </td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">
                        <span class="badge badge-info">
                            {{ user.properties | length }}
                        </span>
                    </td>
                    <td class="text-center">
                        {% for role in user.roles %}
                        {{ role | lower }} <br>
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ user.createdAt | date('d/m/Y') }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_users_edit', {'id':user.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('admin_users_delete', {'id':user.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sur de vouloir supprimer cet utilisateur ?')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}

