{% extends 'base.html.twig' %}

{% block title %}Modification du profil de {{ user.fullName }}{% endblock %}

{% block body %}

    {# SECTION EDIT PROFILE #}

    <section id="edit-profile-user">
        <div class="container-form">
            <div class="form-content">

                {{ form_start(form) }}

                <h2 class="form-title">Un changement {{ user.firstName }} ?</h2>

                <span class="errorFirstName errorMessage"></span>
                {{ form_row(form.firstName) }}

                <span class="errorLastName errorMessage"></span>
                {{ form_row(form.lastName) }}

                <span class="errorEmail errorMessage"></span>
                {{ form_row(form.email) }}

                <span class="errorAvatar errorMessage"></span>
                {{ form_row(form.avatar) }}

                <div class="form-group">
                    <button id="btn-edit-profile-user" type="submit" class="btn btn-primary">Modifier mon profil</button>
                </div>

                {{ form_end(form) }}


            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="/js/edit-profile-user.js"></script>
{% endblock %}