{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.fullName }}{% endblock %}

{% block body %}

    {# SECTION PROFILE USER #}

    <section id="profile-user">
        <div class="container">
            <div class="card shadow">
                <div class="text-center mt-5">
                    <img src="{{ user.avatar | default('/images/avatar_default.png') }}" class="avatar-medium" alt="Image de {{ user.fullName }}"><br>

                    {% if user.properties | length > 0 %}
                        <span class="badge badge-info mt-3">{{ user.properties | length }} annonce(s)</span>
                    {% endif %}

                    {% if user.likes | length > 0 %}
                        <span class="badge badge-success mt-3">{{ user.likes | length }} favori(s)</span>
                    {% endif %}

                </div>
                <div class="description_profile text-center my-5">
                    <h5>{{ user.fullName }}</h5>
                    <p>{{ user.email }}</p>
                    <p>Inscrit le {{ user.createdAt | date('d/m/Y') }}</p>

                    {% if app.user %}

                        <a href="{{ path('account_edit') }}" class="btn btn-primary btn-sm btn_edit_profil_user">Modifier mon profil</a><br>
                        <a href="{{ path('account_passwordEdit') }}" class="btn btn-danger btn-sm">Modifier mon mot de passe</a>

                    {% endif %}
                </div>
            </div>

            <h2 class="text-left mt-5 font-weight-bold">Liste de vos annonces</h2>
            <div class="divider_title"></div>

            {% if user.properties | length > 0 %}

                <div class="row">

                    {% for property in user.properties %}

                        {% include 'properties/_property_card.html.twig' %}

                    {% endfor %}

                </div>

            {% else %}

                <div class="alert alert-info mt-5">
                    Vous n'avez pas encore d'annonces.
                </div>

            {% endif %}

            <h2 class="text-left mt-5 font-weight-bold">Liste de vos favoris</h2>
            <div class="divider_title"></div>

            {% if user.likes | length > 0 %}
                
                <div class="row">

                    {% for property in properties if property.isLikedByUser(user) %}

                        {% include 'properties/_property_card.html.twig' %}

                    {% endfor %}

                </div>

            {% else %}

                <div class="alert alert-info mt-5">
                    Vous n'avez pas encore de favoris.
                </div>

            {% endif %}

            <h2 class="text-left mt-5 font-weight-bold">Votre avis compte</h2>
            <div class="divider_title"></div>

            <p>Un message de remerciement ? N'hésitez pas et dites nous tout...</p>

            {% if user.comments | length > 0 %}

                <div class="alert alert-info" style="margin-bottom: 50px;">
                    Vous avez déjà envoyé votre commentaire. Nous vous remercions pour votre confiance.
                </div>

            {% else %}

                {{ form_start(form) }}

                <span class="errorMessageComment errorMessage"></span>
                {{ form_widget(form) }}

                <div class="form-group mb-5">
                    <button id="btn-send-comment" type="submit" class="btn btn-primary">Envoyer votre commentaire</button>
                </div>

                {{ form_end(form) }}

            {% endif %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="/js/contactForProperty.js"></script>
{% endblock %}