{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ user.fullName }}{% endblock %}

{% block body %}

    {# SECTION HEADER EDIT PASSWORD #}

    <section id="edit-password-user">
        <div class="container-form">
            <div class="form-content">

                {{ form_start(form) }}

                <h2 class="form-title">Un changement {{ user.firstName }} ?</h2>

                {{ form_widget(form) }}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Modifier mon mot de passe</button>
                </div>

                {{ form_end(form) }}


            </div>
        </div>
    </section>
{% endblock %}