{% extends 'base.html.twig' %}

{% block title %}Inscription utilisateur{% endblock %}

{% block body %}

    {# SECTION HEADER #}
    {% include 'partials/_header_jumbotron.html.twig' with {'sub_title': 'Inscription'} %}

    <div class="container">

        <section id="registration_form">

            <h2 class="text-center font-weight-bold">Inscription</h2>
            <div class="divider_center"></div>

            {{ form_start(form) }}

            <div class="row align-items-center">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="card shadow p-4">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.passwordConfirm) }}
                        {{ form_row(form.avatar) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">S'inscrire</button>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </section>


    </div>
{% endblock %}