{% extends 'base.html.twig' %}

{% block title %}Inscription utilisateur{% endblock %}

{% block body %}

    {# FORM REGISTER #}

    <div class="main-signup">
        <div class="container-form">
            <div class="form-content">

                {# IF TOKEN EXPIRED #}
                {% if app.request.query.get('tokenExpired') %}
                    <div class="container">
                        <div class="alert alert-danger">
                            Le token a expiré. Veuillez vous réinscrire et rééssayez à nouveau. Votre token n'est valide que 6 heures à partir de votre inscription.
                        </div>
                    </div>
                {% endif %}

                {{ form_start(form) }}

                    <h2 class="form-title">Créer un compte</h2>

                    <span class="errorFirstName errorMessage"></span>
                    {{ form_row(form.firstName) }}

                    <span class="errorLastName errorMessage"></span>
                    {{ form_row(form.lastName) }}

                    <span class="errorAvatar errorMessage"></span>
                    {{ form_row(form.avatar) }}

                    <span class="errorEmail errorMessage"></span>
                    {{ form_row(form.email) }}

                    <span class="errorPassword errorMessage"></span>
                    {{ form_row(form.password) }}

                    <span class="errorPasswordConfirm errorMessage"></span>
                    {{ form_row(form.passwordConfirm) }}

                    <div class="form-group mt-3">
                        <input type="submit" name="submit" id="btn-register-user" class="form-submit" value="Je m'inscris" />
                    </div>

                {{ form_end(form) }}

                <p class="loginhere">
                    Vous avez déjà un compte ? <br> <a href="{{ path('account_login') }}" class="loginhere-link">Connectez-vous</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/userRegistration.js"></script>
{% endblock %}