{% extends 'admin/base.html.twig' %}

{% block title %}Modification du contact/propriété n° {{ contactForProperty.id }}{% endblock %}

{% block stylesheets %}
    <style>
        .form-control {
            border: 1px solid #bdc3c7;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 150px;height: 100vh;">
        <a href="{{ path('admin_contactForProperty_index') }}">
            <i class="fas fa-arrow-left"></i>
            Retour à la liste des contacts/propriétés
        </a>
        <h2 class="mt-3 font-weight-bold">Modification du contact/propriété n° {{ contactForProperty.id }}</h2>
        <div class="divider_title"></div>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit" class="btn btn-success">Confirmer</button>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}