{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {# ----------------SECTION HEADER CAROUSEL FULL SCREEN----------- #}

    <header>
        <div class="carousel_home">
            <div id="carouselHomepage" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouseHomepage" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselHomepage" data-slide-to="1"></li>
                    <li data-target="#carouselHomepage" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="background-image: url('/images/carousel_home1.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="h1">Votre satisfaction</h5>
                            <p>Notre équipe est à votre disposition afin de trouver le bien fait pour vous !</p>
                            <a href="{{ path('contact_index') }}" class="btn btn-primary">Contacter nous</a>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('/images/carousel_home2.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="h1">Valorisation de votre bien</h5>
                            <p>Nous réalisons une remise à neuf de votre bien afin de mettre toutes les chances de votre côté.</p>
                            <a href="{{ path('contact_index') }}" class="btn btn-primary">Contacter nous</a>
                        </div>
                    </div>
                    <div class="carousel-item" style="background-image: url('/images/carousel_home3.jpg')">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="h1">Nous vous accompagnons</h5>
                            <p>Nous prenons l'engagement de vous accompagner jusqu'à l'aboutissement de votre projet immobilier.</p>
                            <a href="{{ path('contact_index') }}" class="btn btn-primary">Contacter nous</a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselHomepage" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselHomepage" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </header>

    {# IF TOKEN IS ALREADY VALIDATED #}
    {% if app.request.query.get('tokenAlreadyValidated') %}

        <div class="container">
            <div class="alert alert-warning">
                Le token a déjà été validé !
            </div>
        </div>

    {% endif %}

    {# SECTION ABOUT #}
    <section id="about">
        <div class="container">
            <h2 class="text-center font-weight-bold">Qui Sommes-Nous ?</h2>
            <div class="divider_center"></div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <img src="https://cdn.pixabay.com/photo/2018/07/27/00/32/apartment-3564955_960_720.jpg" alt="Image Accueil" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h5 class="text-uppercase font-weight-bold">Agence Immobilière</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.Lorem, ipsum dolor sit amet consectetur adipisicing elit.Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="about_description">
                        <ul class="font-italic font-weight-bold text-secondary">
                            <li>
                                <i class="fas fa-check"></i>
                                Expert dans la vente de biens
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Tous nos biens sont contrôlés
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                25 ans d'expériences
                            </li>
                            <li>
                                <i class="fas fa-check"></i>
                                Notre device, votre satisfaction
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# SECTION SERVICES #}
    <section id="services" class="home-section p-5">
        <div class="container">
            <div class="section-heading">
                <h2 class="text-center font-weight-bold">Nos Services</h2>
                <div class="divider_center"></div>
                <p class="text-center">Fort de notre expérience, nous proposons des services de qualités...</p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="carousel-service" class="service carousel slide" data-ride="carousel">
                        <!-- slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="animated bounceInLeft">
                                            <h4 class="font-weight-bold">Vente de biens</h4>
                                            <p class="font-weight-bold text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="screenshot animated bounceInRight">
                                            <img src="/images/img-vente.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="animated bounceInLeft">
                                            <h4 class="font-weight-bold">Location de biens</h4>
                                            <p class="font-weight-bold text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="screenshot animated bounceInRight">
                                            <img src="/images/img-location.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="animated bounceInLeft">
                                            <h4 class="font-weight-bold">Remise à neuf</h4>
                                            <p class="font-weight-bold text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                                labore et dolore magna.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="screenshot animated bounceInRight">
                                            <img src="/images/renovation.jpg" class="img-fluid" alt="Image de renovation" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-service" data-slide-to="1"></li>
                            <li data-target="#carousel-service" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    {# SECTION LAST PROPERTIES #}
    <section id="last_properties">
        <div class="container">
            <h2 class="text-center font-weight-bold">Nos Dernières Propriétés</h2>
            <div class="divider_center"></div>

            <div class="row">

                {% for lastProperty in lastProperties %}

                    {% include 'properties/_property_card.html.twig' with {'property': lastProperty} %}

                {% endfor %}

            </div>
        </div>
    </section>

    {# -------TESTIMONIALS---------- #}
    <section id="testimonials">
        <div class="container">
            <h2 class="text-center font-weight-bold">Avis De Nos Clients</h2>
            <div class="divider_center"></div>

            <div class="row">

                <div class="col-md-8 col-center m-auto">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">

                            {% for lastComment in lastComments %}

                                {% if lastComment.approved == 1 %}

                                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" {% if(loop.first) %}class="active"{% endif %}></li>

                                {% endif %}

                            {% endfor %}

                        </ol>
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">

                            {% for lastComment in lastComments %}

                                <div class="item carousel-item {% if loop.first %}active{% endif %}">
                                    <div class="img-box mb-3">
                                        <img src="{{ lastComment.author.avatar | default('/images/avatar_default.png') }}" alt="Avatar de {{ lastComment.author.fullName }}">
                                    </div>
                                    <p class="testimonial">{{ lastComment.message | nl2br }}</p>
                                    <p class="overview"><b>{{ lastComment.author.fullName }}</b></p>
                                </div>

                            {% endfor %}

                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
