<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="{{ path('homepage') }}#services">Vente</a></li>
                        <li><a href="{{ path('homepage') }}#services">Location</a></li>
                        <li><a href="{{ path('homepage') }}#services">Remise à neuf</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>A Propos</h3>
                    <ul>
                        <li><a href="{{ path('homepage') }}#about">Qui sommes-nous ?</a></li>
                        <li><a href="{{ path('properties_new') }}">Créer une annonce</a></li>
                        <li><a href="{{ path('contact_index') }}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Agence Immo</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <p class="copyright">House Agency © 2019</p>
        </div>
    </footer>
</div>