{% extends 'admin/base.html.twig' %}

{% block title %}Administration des propriétés{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 120px;">
        <h2 class="mb-5 font-weight-bold">Administration des propriétés</h2>
        <div class="divider_title"></div>

        <table id="table" class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th class="text-center">Action</th>
                <th class="text-center">Price</th>
                <th class="text-center">Approved</th>
                <th class="text-center">Sold</th>
                <th class="text-center">Author</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for property in properties %}

                <tr>
                    <td>{{ property.id }}</td>
                    <td>{{ property.type }}</td>
                    <td class="text-center">{{ property.action }}</td>
                    <td class="text-center">{{ property.price | number_format(2, ',', ' ') }} €</td>
                    <td class="text-center">
                        <span class="badge badge-primary">
                            {{ property.approved | default("0") }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="badge badge-info">
                            {{ property.sold | default ("0") }}
                        </span>
                    </td>
                    <td class="text-center">
                        <img src="{{ property.author.avatar | default('/images/avatar_default.png') }}" alt="Avatar de {{ property.author.fullName }}" class="avatar-mini img-fluid">
                        {{ property.author.fullName }}
                    </td>
                    <td class="text-center">
                        <a href="{{ path('admin_properties_show', {'id':property.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fas fa-eye"></i>
                        </a>
                        <a href="{{ path('admin_properties_edit', {'id':property.id}) }}" class="btn btn-sm btn-info">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href="{{ path('admin_properties_delete', {'id':property.id}) }}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sur de vouloir supprimer ce bien ?')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}


