{% extends 'admin/base.html.twig' %}

{% block title %}Detail demande de contact n° {{ contact.id }}{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="height: 100vh;margin-bottom: 0px;background-color: #fff;">
        <div class="container" style="margin-top: 80px;">
            <a href="{{ path('admin_contact_index') }}">Retour à la liste des contacts</a>
            <h2 class="my-5 font-weight-bold">Détail du message de contact n° {{ contact.id }}</h2>
            <div class="divider_title"></div>

            <dl class="row">
                <dt class="col-md-4">Nom</dt>
                <dd class="col-md-8">{{ contact.name }}</dd>
                <dt class="col-md-4">Email</dt>
                <dd class="col-md-8">{{ contact.email }}</dd>
                <dt class="col-md-4">Message</dt>
                <dd class="col-md-8"> {{ contact.message | nl2br }}</dd>
                <dt class="col-md-4">Téléphone</dt>
                <dd class="col-md-8"> {{ contact.phoneNumber }}</dd>
                <dt class="col-md-4">Date d'envoie</dt>
                <dd class="col-md-8">{{ contact.createdAt | date('d/m/Y') }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}